.root{
    -fx-background-color: #121212;
}

.text{
    -fx-font-size: 14;
    -fx-font-family: "Lucida Console";
}

.button{
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-background-color: lightblue;
}

.radio-button{
    -fx-text-fill: lightblue;
}

.radio-button:selected .radio .dot {
    -fx-background-color: lightblue;
    -fx-background-insets: 0;
}

.combo-box
{
    -fx-background: white;
    -fx-background-color: lightblue;

}